.Header{
   width: 90px;
   height: 100vh;
   background-color: #272727;
    }
.logo{
    width:90px;
    height: 90px;
    background-image: url("../asset/logo.png");
    background-repeat: no-repeat;
  background-size: cover; 
  position: relative;


}